* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: 1fr 1fr 5fr 1fr;
  background-color: rgb(226, 218, 218);
}

.header {
  grid-column: 1 / span 3;
  background-color: rgb(53, 52, 52);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid rgb(182, 6, 182);
  color: white;
}
.header_sağ a {
  margin: 10px;
  text-decoration: none;
  font-weight: 300;
  color: white;
}

.header_sağ a:hover {
  color: rgb(182, 6, 182);
}
.nav_about:visited {
    color: rgb(182, 6, 182);
}

.header_sol {
  font-size: 1.5rem;
}
.header_sol span {
  color: rgb(182, 6, 182);
}

.content1 {
  grid-column: 1 / span 3;
  background-image: url(./img/showcase.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  color: white;
}
.content1 h1 {
  font-size: 3rem;
}
.content2 {
  grid-column: 1 / span 3;
  background-color: rgb(53, 52, 52);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}
.content2 button {
  width: 6rem;
  height: 2rem;
  background-color: orange;
  color: white;
  font-weight: 300;
}
#mail {
  width: 12rem;
  height: 2rem;
}
.content3 {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  gap: 3rem;

}

.content3_1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content3_1_1 {
    text-align: justify;
}
.content3_1_2 {
    text-align: justify;
    background-color:rgb(53, 52, 52) ;
    color: white;
    padding: 8px;
}

.content3_2 {
    background-color:rgb(53, 52, 52) ;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 15rem;


}

.content3_2 p {
    text-align: justify ;
}
.footer {
  grid-column: 1 / span 3;
  background-color: rgb(53, 52, 52);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.footer img {
  width: 15%;
}
